#wrapper {
    position: relative;
    width: 1024px;
    height: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#textmanipul {
    background-color: aqua;
}

#textmanipul2 {
    background-color: rgb(14, 126, 126);
}

#textmanipul3 {
    background-color: rgb(6, 63, 63);
}

#primeNr {
    background-color: rgb(56, 245, 9);
}