#content {
    background-color: #364046;
}

#wrapper {
    position: relative;
    width: 1024px;
    height: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #364046;
}

.grid-container {
    display: grid;
    grid-gap: 2px 2px;
    grid-template-columns: 339px 339px 339px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
    'grid-item-form-headpara grid-item-form-headpara grid-item-form-headpara'
    'grid-item-form-input rid-item-form-input rid-item-form-input'
    'grid-item-form-btnsubmit grid-item-form-btnsubmit grid-item-form-btnsubmit'

    'grid-item-form-result grid-item-form-result grid-item-form-result';
    border: 2px solid black;
    border-radius: 20px;

  }

.grid-item-form {
    grid-area: grid-item-form-input;
    background-color: #3a3f44;
    border: 1px solid black;
}

.grid-headpara {
    grid-area: grid-item-form-headpara;
    height: 25px;
    background-color: #abc2cf;
    border: 1px solid black;
}

.grid-outresult {
    grid-area: grid-item-form-result;
    height: 25px;
    background-color: #abc2cf;
    border: 1px solid black;
}


#textmanipul {
    background-color: aqua;
}

#textmanipul2 {
    background-color: rgb(14, 126, 126);
}

#textmanipul3 {
    background-color: rgb(6, 63, 63);
}

#primeNr {
    background-color: rgb(56, 245, 9);
}

#valueType {
    background-color: rgb(129, 112, 226);
}

#oddAndEven {
    background-color: rgb(93, 71, 219);
}

#tenHappy {
    background-color: rgb(231, 121, 198);
}

#combineArrayToString {
    background-color: rgb(236, 26, 43);
}

#sortNrArrayDiv {
    background-color: rgb(158, 75, 82);
}

#arrayRemoveDuplicates {
    background-color: rgb(2, 105, 209);
}

#arrayRemoveNullZero {
    background-color: rgb(106, 162, 218);
}

#daysInMonth {
    background-color: rgb(131, 133, 134);
}

#minutesToHours {
    background-color: rgb(197, 236, 19);
}

#ageFromYear {
    background-color: rgb(204, 211, 175);
}

#ageFromYear2 {
    background-color: rgb(255, 168, 6);
}
