#wrapper {
    position: relative;
    width: 1024px;
    height: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
  }

#textmanipul {
    background-color: aqua;
}

#textmanipul2 {
    background-color: rgb(14, 126, 126);
}

#textmanipul3 {
    background-color: rgb(6, 63, 63);
}

#primeNr {
    background-color: rgb(56, 245, 9);
}

#valueType {
    background-color: rgb(129, 112, 226);
}

#oddAndEven {
    background-color: rgb(93, 71, 219);
}

#tenHappy {
    background-color: rgb(231, 121, 198);
}

#combineArrayToString {
    background-color: rgb(236, 26, 43);
}

#sortNrArrayDiv {
    background-color: rgb(158, 75, 82);
}

#arrayRemoveDuplicates {
    background-color: rgb(2, 105, 209);
}

#arrayRemoveNullZero {
    background-color: rgb(106, 162, 218);
}

#daysInMonth {
    background-color: rgb(131, 133, 134);
}
